Source: mod-wsgi
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Bernd Zeimetz <bernd@bzed.de>
Build-Depends: debhelper (>= 5), python-dev, apache2-threaded-dev, dpatch
Homepage: http://www.modwsgi.org/
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.debian.org/python-modules/packages/mod-wsgi/trunk/
XS-Vcs-Browser: http://svn.debian.org/wsvn/python-modules/packages/mod-wsgi/?op=log

Package: libapache2-mod-wsgi
Architecture: any
Depends: apache2, apache2.2-common, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Suggests: apache2-mpm-worker | apache2-mpm-event
Description: Python WSGI adapter module for Apache
 The mod_wsgi adapter is an Apache module that provides a WSGI (Web Server
 Gateway Interface, a standard interface between web server software and
 web applications written in Python) compliant interface for hosting Python
 based web applications within Apache. The adapter provides significantly
 better performance than using existing WSGI adapters for mod_python or CGI.
