Source: mod-wsgi
Section: net
Priority: extra
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Bernd Zeimetz <bernd@bzed.de>
Build-Depends: debhelper (>= 5), autotools-dev, python-dev, apache2-threaded-dev
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.debian.org/python-modules/packages/mod-wsgi/trunk/
XS-Vcs-Browser: http://svn.debian.org/wsvn/python-modules/packages/mod-wsgi/?op=log

Package: libapache2-mod-wsgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
